* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

#logotop{
    width: 4vw;
    height: auto;
    position: absolute;
    margin-top: 0.5vw;
    left: 0.7vw;
    /*transform: translate(-50%, -50%);*/
}

#bigImage{
    width: 100vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    border-bottom: 4px solid #0D3B66;

}

#classroomImg{
    width: 100vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 4px solid #0D3B66;
    border-top: 4px solid #0D3B66;
}

#title {
    font-family: 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Geneva, Verdana, sans-serif;
    position: absolute;
    margin-top: 2.25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: auto;
    font-size: 3vw;
    color: #0D3B66;
}

#topbar {
    position: fixed;
    top: 0px;
    z-index: 999;
    background-color: #1B998B;
    width: 100vw;
    height: 5vw;
    border-bottom: 4px solid #0D3B66;
}

a{
    background-color: #1B998B;
    color: #4ECDC4;
    text-decoration: none;
    font-family: 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Geneva, Verdana, sans-serif;

}


#aboutLink{
    position: absolute;
    margin-top: 2.5%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: auto;
    font-size: 2vw;
    width: 8vw;

}

#ideasLink{
    position: absolute;
    margin-top: 2.5%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: auto;
    font-size: 2vw;
    width: 8vw;
}
a:hover {
    background-color: #0D3B66;
}

h3 {
    font-family: 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #0D3B66;
    font-size: 2vw;
    margin-top: -6vw;
    padding-top: 6vw;

}



p {
    width: 90vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5vw;
    color: #5D5E60;
    font-family: 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Geneva, Verdana, sans-serif;

}
li {
    margin-left: 5vw;
    margin-right:auto;
    height: auto;
    font-size: 1.3vw;
    color: #5D5E60;
    font-family: 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Geneva, Verdana, sans-serif;

}
#simonThrowsImage {
    width: 40vw;
    height: auto;
    margin-right: 5vw;
    margin-left: 4.5vw;
}

#ideasDiv {
    width: 50vw;
    float: left;
}

#ideasImg {
    width: 48vw;
    float: left;
}

.anchors {
    transform: translate( 0vh, -50px);
}